header {
  background-color: black;
  color: brown;
}
h2 {
  background-color: blue;
  color: red;
  text-align: center;
  font-size: ariel;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
}